<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Experience</h5>
        {% for exp in site.data.profile.experience %}
        <div class="row mt-3">
            {% if exp.logo %}
            <div class="col-2 col-md-2 d-flex align-items-center">
                <img src="{{ exp.logo | relative_url }}" style="width: 100%; max-width: 50px;" class="rounded" alt="logo">
            </div>
            <div class="col-10 col-md-10">
            {% else %}
            <div class="col-12">
            {% endif %}
                <h6 class="mb-0 font-weight-bold">{{ exp.name }}</h6>
                <div>{{ exp.position }}</div>
                <small class="text-muted">{{ exp.date }}</small>
                
                {% if exp.description %}
                <div class="small text-muted mt-1">{{ exp.description }}</div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
